schema/event.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/world">

  <xsd:element name="event">
    <xsd:complexType>
      <xsd:all>
        <xsd:element name="name" type="xsd:string" />
        <xsd:element ref="texture" />
        <xsd:element ref="location" />
      </xsd:all>
      
      <xsd:attribute name="id" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
