schema/map.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/world">

  <xsd:element name="map">
    <xsd:all>
      <xsd:element name="name" type="xsd:string" />
      <xsd:element ref="textureMap" />
    </xsd:all>
    
    <xsd:attribute name="id" type="xsd:string" />
  </xsd:element>

</xsd:schema>
